---
layout: post
---

{{ content }}

<hr>
<hr>

<h3>سری پست‌های <em>لاراول فراتر از CRUD</em>:</h3>

<ul>
    <li><a href="{% post_url 2019-10-29-laravel-beyond-crud-preface %}">صفرم. پیش‌درآمد</a> - <small><a href="https://stitcher.io/blog/laravel-beyond-crud#preface">(اصل)</a></small></li>
    <li><a href="{% post_url 2019-10-29-laravel-beyond-crud-domain-oriented-laravel %}">یکم. لاراول دامنه‌گرا</a> - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-01-domain-oriented-laravel">(اصل)</a></small></li>
    <li><a href="{% post_url 2019-10-29-laravel-beyond-crud-domain-oriented-laravel %}">دوم. کار کردن با دیتا</a> - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-02-working-with-data">(اصل)</a></small></li>
    <li>سوم. اکشن‌ها (در دست ترجمه) - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-03-actions">(اصل)</a></small></li>
    <li>چهارم. مدل‌ها (در دست ترجمه) - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-04-models">(اصل)</a></small></li>
    <li>پنجم. مدل‌ها با الگوی وضعیت (در دست ترجمه) - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-05-states">(اصل)</a></small></li>
    <li>ششم. مدیریت دامنه‌ها (در دست ترجمه) - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-06-managing-domains">(اصل)</a></small></li>
    <li>هفتم. ورود به لایه اپلیکیشن (در دست ترجمه) - <small><a href="https://stitcher.io/blog/laravel-beyond-crud-07-entering-the-application-layer">(اصل)</a></small></li>
    <li>هشتم. ویو مدل‌ها (نوشته نشده)</li>
    <li>قسمت‌های دیگه در دست تولید (...)</li>
</ul>
