<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <!--[if lt IE 8]> <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

    {% assign all_pages = site.html_pages | where_exp:"i","i.title" %}
    {% if site.data.projects.size > 0 or all_pages.size > 0 %}
      <div id="header">
        <nav>
          {% assign primary_pages = "" | split:',' %}
          {% assign more_pages = "" | split:',' %}

          {% for item in all_pages %}
            {% if item.skip %} {% continue %} {% endif %}
            {% if item.primary %}
              {% assign primary_pages = primary_pages | push:item %}
            {% else %}
              {% assign more_pages = more_pages | push:item %}
            {% endif %}
          {% endfor %}

          {% if primary_pages.size > 0 %}
            {% for item in primary_pages %}
              <li class="page left"><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          {% endif %}

          {% if more_pages.size > 0 %}
            <li class="page projects-li left">
              <div class="projects">
                {% for item in more_pages %}
                <a class="project" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
              <a href="javascript:void(0)">...</a>
            </li>
          {% endif %}

          {% if site.data.projects.size > 0 %}
            <li class="page projects-li right">
              <div class="projects">
                {% for item in site.data.projects %}
                <a class="project" target="_blank" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
              <a href="javascript:void(0)">&laquo; Projects &raquo;</a>
            </li>
          {% endif %}
        </nav>
      </div><!-- end header -->
    {% endif %}

    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
          <p>{{ site.description }}</p>
          <span class="credits right">&nbsp;updated at {{ site.time | date_to_string }}</span>
          <hr>
          <span class="credits left">With <span style="color: #ff6969;">♥️</span> by <a target="_blank" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Theme by <a target="_blank" href="https://twitter.com/mattgraham">mattgraham</a></span>
          <br>
          <span class="credits left">
            Can be found at
            {% for item in site.data.social %}
              {% unless forloop.first %}, {% endunless %}
              <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
          </span>
          <span class="credits right">
            Can be called via <a href="mailto:{{ site.email }}">email</a>
            {% if site.mobile %} or <a href="tel:{{ site.mobile }}">mobile</a> {% endif %}
          </span>
        </div>

        {% if page.rtl %} <div class="rtl"> {% endif %}
          {{ content }}
        {% if page.rtl %} </div> {% endif %}

        {% if page.comments %}
          <div id="disqus_thread"></div>
          <script> (function() { var d = document, s = d.createElement('script'); s.src = 'https://shahinsorkh.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script>
          <noscript>Please enable JavaScript to view the <a target="_blank" href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </section>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
