---
layout: default
---

{% for post in paginator.posts %}
  {% if post.rtl %} <div class="rtl"> {% endif %}
    <h2><small class="pubdate">{{ post.date | date_to_string }}</small> <a href="{{ post.url | smartify }}">{{ post.title }}</a></h2>
    <article>{{ post.excerpt | smartify | markdownify | normalize_whitespace }}</article>
  {% if post.rtl %} </div> {% endif %}
  <hr>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
  {% else %}
    <span class="previous disabled">&laquo; Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
  {% else %}
    <span class="next disabled">Next &raquo;</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
</div>
