---
layout: default
---

<h2><a href="{{ page.url }}">{{ page.title | smartify }}</a></h2>
<p class="pubdate post-date">{{ page.date | date_to_rfc822 }}</p>
<div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
    <a class="category" href="{{ site.baseurl }}/categories.html#{{ category | slugize }}">{{ category | capitalize }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

{{ content }}

<hr>
<div class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
    <a class="tag" href="{{ site.baseurl }}/tags.html#{{ tag | slugize }}"><i style="color: #000;" class="icon tag"></i> {{ tag }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
